<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>..:: Prodajalna pesmi ::..</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<style>
		.form-control#EmailValidate {
			border-width: 0;
			display: inline;
			-webkit-box-shadow: none;
		}

		.racun-stranke {
			background-color: #ccefff;
			font-weight: bold;
			text-decoration: underline;
		}
	</style>
	<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>

<div class="container text-center">
	<div class="row">
		<div class="col-md-6">
			<h3><span class="glyphicon glyphicon-user"></span> Dodajanje nove stranke</h3>
			<div id="stranke">
				<form action="" method="post" enctype="multipart/form-data">
					<div class="form-group">
						<input type="text" class="form-control" id="FirstName" 
						  name="FirstName" placeholder="Ime"/>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="LastName" 
						  name="LastName" placeholder="Priimek"/>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="Company" 
						  name="Company" placeholder="Podjetje"/>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="Address" 
						  name="Address" placeholder="Naslov"/>
					</div>
					<div class="form-group">
						<div class="ui-widget ">
							<label for="tags"></label>
							<input type="text" class="form-control" id="City" 
							  name="City" placeholder="Mesto"/>
						</div>

					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="State" 
						  name="State" placeholder="Okrožje"/>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="Country" 
						  name="Country" placeholder="Država" readonly/>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="PostalCode" 
						  name="PostalCode" placeholder="Poštna številka" readonly/>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="Phone" 
						  name="Phone" placeholder="Telefon"/>
					</div>
					<div class="form-group">
						<input type="text" class="form-control" id="Fax" 
						  name="Fax" placeholder="Faks"/>
					</div>
					<div class="form-group" style="text-align: left">
						<input type="email" class="form-control" id="Email" 
						  name="Email" placeholder="E-pošta" 
						  style="width: 90%;margin-right: 10px;display: inline;"/>
						<span id="EmailValidate" class="glyphicon glyphicon-remove"></span>
					</div>
					<div class="form-group">
						<p class="help-block"><%= sporocilo %></p>
						<input type="submit" id="Register" class="btn btn-default" 
						  value="Registracija" disabled/>
					</div>
				</form>
			</div>
		</div>

		<div class="col-md-6">
			<h3><span class="glyphicon glyphicon-hand-right"></span> Izbira stranke</h3>
			<div id="seznam1">
				<form action="/stranka" method="post" enctype="multipart/form-data">
					<div class="form-group">
						<select size="10" id="seznamStrank" name="seznamStrank" class="form-control">
							<% seznamStrank.forEach(function(stranka) { %>
							<option value="<%= stranka.CustomerId %>">
								<%= stranka.FirstName %> <%= stranka.LastName %>, <%= stranka.Email %> :: <%= stranka.Country %> (<%= stranka.StRacunov %>)
							</option>
							<% }) %>
						</select>
					</div>
					<div class="form-group">
						<input type="submit" class="btn btn-default" value="Izbira stranke"/>
					</div>
				</form>
			</div>
			<br/>
			<h3><span class="glyphicon glyphicon-usd"></span> Izbira računa</h3>
			<div id="seznam2">
				<form action="/izpisiRacunBaza" method="post" enctype="multipart/form-data">
					<div class="form-group">
						<select size="10" id="seznamRacunov" name="seznamRacunov" class="form-control">
							<% seznamRacunov.forEach(function(racun) { %>
							<option value="<%= racun.InvoiceId %>" customerId="<%= racun.CustomerId %>" selected>
								<%= racun.Naziv %>
							</option>
							<% }) %>
						</select>
					</div>
					<div class="form-group">
						<input type="submit" class="btn btn-default" value="Izbira računa"/>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
	$(document).ready(function () {
		var emailRegex = /^[A-Z0-9._%+-]+@[A-Z0-9.-]+.[A-Z]{2,4}$/i;
		var pogoj1 = false;
		var pogoj2 = false;
		document.getElementById("Email").addEventListener("keyup", function () {
			
			if(emailRegex.test(document.getElementById("Email").value)){
				pogoj1 =true;
			//	document.getElementById("Register").disabled = false;
				document.getElementById("EmailValidate").classList.add("glyphicon-ok");
				document.getElementById("EmailValidate").classList.remove("glyphicon-remove");
			}else{
				pogoj1 =false;
			//	document.getElementById("Register").disabled = true;
				document.getElementById("EmailValidate").classList.toggle("glyphicon-ok",false);
				document.getElementById("EmailValidate").classList.toggle("glyphicon-remove",true);
			}
			if(pogoj1&&pogoj2){
				document.getElementById("Register").disabled = false;
			}else{
				document.getElementById("Register").disabled = true;
			}
		});
	
		document.getElementById("City").addEventListener("keyup", function () {
			if (this.value.length == 0) {
				document.getElementById("PostalCode").value = "";
				document.getElementById("Country").value = "";
				document.getElementById("Register").disabled = true;
			}
		});

		document.getElementById("City").addEventListener("keyup", function(){
			if(this.value.length == 0){pogoj2 = false;}
			if(pogoj1&&pogoj2){
				document.getElementById("Register").disabled = false;
			}else{
				document.getElementById("Register").disabled = true;
			}
		});
		
	
		var source = [];
		var tabelaK = [];
		var tabelaP =[];
		
		function getData(callback){
			//if(typeof(cilj) != "string") return;
			var xobj = new XMLHttpRequest();
		
			xobj.open("GET", "https://api.lavbic.net/kraji" , true);
			xobj.onreadystatechange = function(){
				if (xobj.readyState == 4 && xobj.status == "200") {
			        var json = JSON.parse(xobj.responseText);
			        // vrnemo rezultat
			        callback(json);
			      
			    }
			   
			};
			xobj.send(null);
			
		}
		var i = 0;
		getData(function(jsonRezultat){
			source=jsonRezultat;
			//console.log(jsonRezultat.length);
			source.forEach(function(element){
				tabelaP[i] = element.postnaStevilka;
				tabelaK[i] = element.kraj; 
				
			//	console.log(tabelaP[i]+" : "+ tabelaK[i]);
				i++;
			});
			
		});
		    
    	$("#City").autocomplete({
    		source:tabelaK
    	});
    	
    	$( "#City" ).on( "autocompleteclose", function( event, ui ) {
              //  if (event.keyCode != 13){return;}
            var postna = null;
			//document.getElementById("Country").value = "Slovenija";	
			var search = document.getElementById("City").value;
			for(var i = 0; i<tabelaK.length;i++){
				if(tabelaK[i]==search){
					postna = tabelaP[i];
				}
			}
			if(postna != null){
				document.getElementById("Country").value = "Slovenija";	
				document.getElementById("PostalCode").value = postna;
				pogoj2 = true;
				if(pogoj1&&pogoj2){
					document.getElementById("Register").disabled = false;
				}else{
					document.getElementById("Register").disabled = true;
				}
				
			}else{
				document.getElementById("Country").value = null;	
				document.getElementById("PostalCode").value = postna;
				pogoj2 = false;
			}
			$( "#City" ).on( "keydown", function( event ) {
              if(event.keyCode == 13){
                  $("#City").autocomplete("close");
              }
        });
       });
    	


        
        

        document.getElementById("seznamStrank").addEventListener("click", function(e){
        	var racuni = $.map(($('#seznamRacunov option')) ,function(option) {
    			var razdeljenniz = option.text.split(" (", 1);
		        return razdeljenniz;
	        });
        	//console.log(racuni);
        	var index = document.getElementById("seznamStrank").selectedIndex;
            var v = document.getElementById("seznamStrank").options[index].text.split(", ", 1);
            //console.log(v);
            for(var i = racuni.length-1; i>0; i--){
                if(racuni[i]==v){
                    document.getElementById("seznamRacunov").options[i].classList.add("racun-stranke");
                }else{
                	document.getElementById("seznamRacunov").options[i].classList.remove("racun-stranke");
                }
            }

        });
		

	});
  
  

</script>
</body>
</html>